<div class="form-container">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstname" />
      <mat-error *ngIf="userForm.get('firstname')?.invalid && userForm.get('firstname')?.touched">
        First Name is required and should be at least 2 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastname" />
      <mat-error *ngIf="userForm.get('lastname')?.invalid && userForm.get('lastname')?.touched">
        Last Name is required and should be at least 2 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched">
        Please enter a valid email.
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>
</div>
