<div class="container mt-4">
  Option 1: Create a small front end web application that meets the following requirements
  <br>
  ● Fetches data from an API
  <br>
  ○ Get data from this endpoint:
  https://sa-tech-assessment.replit.app/api/assessment/contacts
  <br>
  ■ This endpoint is a thin layer over the HubSpot Contacts API and is
  provided to make it easier to manage authentication from your front end
  <br>
  ■ The format of the data returned endpoint mirrors the HubSpot Basic List
  Contacts endpoint - Documented here
  <br>
  ● Create an HTML table of the results (particularly the Contact properties)
  <br>
  ● Implements a short form for user input (use properties: rstname, lastname, email)
  <br>
  ○ Send JSON formatted data for a new contact as a Post request back to the same
  endpoint (https://sa-tech-assessment.replit.app/api/assessment/contacts)
  <br>
  ○ Submitted data should mirror the HubSpot Basic Contact Create endpoint.
  Documented here
  <br>
  ○ Properly submitted data to this proxy endpoint should return a response showing
  the response body of the newly created contact.
  <br>
  ○ Note: If you create a contact with an “hubteam.com” email address, the new
  contact will appear in the GET request
  <br>
  ● Style of pages and components is not an assessed factor (you may style and structure the
  page and components however you like)
  <br>
  ● Store your code in a GitHub repository or similar accessible code sharing tool. You do not
  need to deploy this service to a live environment but it should run locally if cloned.
  Provide basic instructions on setting up the environment in a README le or sent
  separately.
  <br>
  ○ If you want to keep this repo private, share it with GitHub user: robertainslie
</div>
